
#stud-course-scroll, #students-scroll {
	height: 135px;
	display: inline-block;
	vertical-align: top;
	width: 9px;
	background: #cccccc;
	border-radius: 5px;
	border:none;
	margin-left:-4px;
	top: 10px;
}
#create-new-staff{

}